.image-container {
    height: 70%;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.half-card-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.scrollable-text-inside {
    height: 100px;  
    width: 550px;
    overflow-y: auto; 
}

.scrollable-text-left {
    height: 570px;  
    width: 320px;
    overflow-y: auto; 
}

.bottom-box {
    height: 50px;  
    width: 1450px;
    overflow-y: auto; 
}

.btn-margin-left {
    margin-left: 10px;
  }
