.jumbotron {
  position: relative;
  background-image: url('../assets/office.jpeg');
  background-size: cover;
  background-position: center 42%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.jumbotron .container {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.button {
  background-color: #000000;
  color: #ffffff; 
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #dddddd;
}

.app-header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  padding-top: 20px;
}

.container h2 {
  max-width: 300px;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.section-header {
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

/*
const styles = {
  container: {
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
    justifyContent: 'center',
    // height: '45vh',
  },
  Button: {
    marginTop: '20px',
    padding: '10px 20px',
    fontSize: '16px',
    backgroundColor: 'tomato',  // Change the background color to red
    color: 'white',         // Change the text color to white
    border: 'none',
    borderRadius: '5px',
    cursor: 'pointer',
  },
  StartText: {
    textAlign: 'center',
    fontSize: '50px',
    fontFamily: 'abel',
    borderRadius: '5px',
  },
  Text: {
    textAlign: 'center',
    color: 'black',
  },
  Genie: {
    width: '50%',
    height: 'auto',
  },
};
*/
