.jumbotron {
  position: relative;
  background-image: url('../assets/officeSpace2large.jpg');
  background-size: cover;
  background-position: center 42%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.jumbotron .container {
  text-align: center;
  color: #000000;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff;
}

.button {
  background-color: #000000;
  color: #ffffff; 
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #dddddd;
}

.app-header h1 {
  padding-bottom: 20px;
  padding-top: 20px;
  text-shadow: 2px 2px 4px #ffffff;
}

.container h2 {
  max-width: 300px;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.section-header {
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.logo {
  width: 200px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}
